body
{
    background-color: #222;
    font-family: Imprima;
}

#main_content
{
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: #090909;
    box-shadow: 0px 0px 10px #090909;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    display: grid;
}

#number_input_div, #convert_result_div
{
    background-color: #3b6c8f;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 30px;
}

#convert_result_div
{
    display: none;
    height: 50px;
    overflow: hidden;
    animation: change_height 4s;
}

#number_input_div div
{
    margin-bottom: 15px;
}

#insert_number_here, #base_title, #result_title
{
    font-weight: bold;
    display: inline-grid;
    vertical-align: middle;
}

#inserted_num, #choosen_Frombase, #choosen_Tobase
{
    display: "block";
    padding: 10px;
    color: black;
    border: 1px solid black;
    display: inline-grid;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
}

#ConvertBtn
{
    float: right;
    padding: 13px;
    background-color: #ccc;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
    outline: none;
}

#ConvertBtn:hover
{
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid white;
}

#wrong_number
{
    display: none;
    color: red;
    animation: chnage_color;
    animation-duration: 1s;
}

@keyframes chnage_color 
{
    from {color: black;}
    to {color: red;}
}

@keyframes change_height
{
    from {height: 0px;}
    to {height: 50px;}
}