#top_bar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #427aa1;
    z-index: 100;
}

#top_bar a
{
    float: right;
    display: inline-flex;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#top_bar a:hover
{
    background-color: #3b6c8f;
}

#top_bar #website_title
{
    float: left;
}

#top_bar #website_title:hover
{
    background-color: #427aa1;
}